<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- header, script, css) -->
<div th:replace="common/header.html" th:remove="tag"></div>
<body>

<!-- 상세 화면의 타이틀 -->
<th:block th:replace="common/detailTitle.html"></th:block>


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-lg-12 heading-section ftco-animate" style="float : left; text-align: left;">
                <h2 class="mb-6">안녕하십니까? <br> <span>로시스정보기술 대표이사 최인성</span>입니다.<br>저희 회사 홈페이지를 방문해주셔서 깊은 감사를 드립니다. </h2>
                <br><h4>지난 2005년 창립 이래 금융/공공/건설/서비스 등 <br>다양한 분야에서 쌓은 Knowledge와 Know-how를<br>바탕으로 고객 여러분께 필요한 역량을 제공해 왔습니다.</h4>
                <br><br>
                <p>IT기술은 하루가 다르게 새로워지고 있고, 고객의 니즈 역시 다양화되고 세분화되고 있습니다. <br>변화는 빨라지고 경쟁은 더욱 치열해 지고 있습니다.
                이런 환경에서 고객이 실질적으로 원하는 <br> 가치를 제공하기 위해 ,저희 로시스정보기술은 국내시장에서의 다양한 성공경험, 고객과의 파트너십 역량,<br>
                그리고 끊임없는 기술과 서비스 개발을 바탕으로 진정한 IT리더로 도약하고자 합니다. <br> 검증된 IT기술력에 더해 창조적이고 혁신적인 기업문화, 고객사업에 대한 이해를 기반으로
                <br>성공을 위한 IT서비스의 새로운 길을 열어드리겠습니다. 건강한 기업문화 속에 스스로 가치를 창조하는 <br> 창의정신과 실천적 도전 정신을 바탕으로 고객에게 신뢰받는 <br>
                든든한 기업이 되겠습니다. 로시스 정보기술의 도전과 혁신을 지켜봐 주십시오. 감사합니다.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="services-2" style="text-align: left;">
                    <div class="icon">
                        <span class="flaticon-web-programming"></span>
                    </div>
                    <div class="text">
                        <h3>Web Development</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img src="images/services.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-4">
                <div class="services-2" style="text-align: left;">
                    <div class="icon">
                        <span class="flaticon-secure"></span>
                    </div>
                    <div class="text">
                        <h3>Server Security</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-counter ftco-section ftco-no-pt img" id="section-counter">
 <div class="container">
  <div class="row no-gutters d-flex">
   <div class="col-md-6 d-flex">
    <div class="img d-flex align-self-stretch" style="background-image:url(images/about.jpg);"></div>
  </div>
  <div class="col-md-6 p-3 pl-md-5 py-5 bg-primary">
    <div class="row justify-content-start pb-3">
      <div class="col-md-12 heading-section heading-section-white ftco-animate">
        <h2 class="mb-4">Consult us here in <span>ITSolution</span></h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 mb-4">
          <div class="text">
            <strong class="number" data-number="750">0</strong>
            <span>Project Complete</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 mb-4">
          <div class="text">
            <strong class="number" data-number="568">0</strong>
            <span>Happy Clients</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 mb-4">
          <div class="text">
            <strong class="number" data-number="478">0</strong>
            <span>Business Partners</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 mb-4">
          <div class="text">
            <strong class="number" data-number="780">0</strong>
            <span>IT Consultant</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>


<section class="ftco-section ftco-no-pb testimony-section" style="background-image: url(images/bg_1.jpg);">
 <div class="overlay-1"></div>
 <div class="container-fluid">
  <div class="row justify-content-center mb-5 pb-3">
    <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
      <h2 class="mb-4">Our insights &amp; creative ideas</h2>
    </div>
  </div>
  <div class="row ftco-animate">
    <div class="container">
  <div class="row no-gutters d-flex">
   <div class="col-md-6 d-flex">
  </div>
  <div class="col-md-6 p-3 pl-md-5 py-5 bg-primary" style="margin-bottom:50px;">
    <div class="row justify-content-start pb-3">
      <div class="col-md-12 heading-section heading-section-white ftco-animate">
        <h2 class="mb-4">Consult us here in <span>ITSolution</span></h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 mb-4">
          <div class="text">
            <strong class="number" data-number="750">0</strong>
            <span>Project Complete</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 mb-4">
          <div class="text">
            <strong class="number" data-number="568">0</strong>
            <span>Happy Clients</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 mb-4">
          <div class="text">
            <strong class="number" data-number="478">0</strong>
            <span>Business Partners</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 mb-4">
          <div class="text">
            <strong class="number" data-number="780">0</strong>
            <span>IT Consultant</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
   </div>
</div>
</section>

<section class="ftco-section bg-light ftco-faqs">
 <div class="container">
  <div class="row">
   <div class="col-lg-6 order-md-last">
    <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url(images/about.jpg);">
    </div>
    <div class="d-flex mt-3">
     <div class="img img-2 mr-md-2 w-100" style="background-image:url(images/about-1.jpg);"></div>
     <div class="img img-2 ml-md-2 w-100" style="background-image:url(images/about-2.jpg);"></div>
   </div>
 </div>

 <div class="col-lg-6" >
  <div class="heading-section mb-5 mt-5 mt-lg-0">
   <h2 class="mb-3">Frequently Asks Questions</h2>
 </div>
 <div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
  <div class="card">
    <div class="card-header p-0" id="headingOne">
      <h2 class="mb-0">
        <button href="#collapseOne" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
         <p class="mb-0">How can we help your business?</p>
         <i class="fa" aria-hidden="true"></i>
       </button>
     </h2>
   </div>
   <div class="collapse show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
    <div class="card-body py-3 px-0">
     <ol>
      <li>Far far away, behind the word mountains</li>
      <li>Consonantia, there live the blind texts</li>
      <li>When she reached the first hills of the Italic Mountains</li>
      <li>Bookmarksgrove, the headline of Alphabet Village</li>
      <li>Separated they live in Bookmarksgrove right</li>
    </ol>
  </div>
</div>
</div>

<div class="card">
  <div class="card-header p-0" id="headingTwo" role="tab">
    <h2 class="mb-0">
      <button href="#collapseTwo" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
       <p class="mb-0">How long does it take to build a website?</p>
       <i class="fa" aria-hidden="true"></i>
     </button>
   </h2>
 </div>
 <div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
  <div class="card-body py-3 px-0">
   <ol>
    <li>Far far away, behind the word mountains</li>
    <li>Consonantia, there live the blind texts</li>
    <li>When she reached the first hills of the Italic Mountains</li>
    <li>Bookmarksgrove, the headline of Alphabet Village</li>
    <li>Separated they live in Bookmarksgrove right</li>
  </ol>
</div>
</div>
</div>

<div class="card">
  <div class="card-header p-0" id="headingThree" role="tab">
    <h2 class="mb-0">
      <button href="#collapseThree" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree">
       <p class="mb-0">Can I help your IT Solution for business?</p>
       <i class="fa" aria-hidden="true"></i>
     </button>
   </h2>
 </div>
 <div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingTwo">
  <div class="card-body py-3 px-0">
   <ol>
    <li>Far far away, behind the word mountains</li>
    <li>Consonantia, there live the blind texts</li>
    <li>When she reached the first hills of the Italic Mountains</li>
    <li>Bookmarksgrove, the headline of Alphabet Village</li>
    <li>Separated they live in Bookmarksgrove right</li>
  </ol>
</div>
</div>
</div>

<div class="card">
  <div class="card-header p-0" id="headingFour" role="tab">
    <h2 class="mb-0">
      <button href="#collapseFour" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFour">
       <p class="mb-0">What are those requirements for ITSolutions?</p>
       <i class="fa" aria-hidden="true"></i>
     </button>
   </h2>
 </div>
 <div class="collapse" id="collapseFour" role="tabpanel" aria-labelledby="headingTwo">
  <div class="card-body py-3 px-0">
   <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
 </div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

<!-- footer, loader -->
<th:block th:replace="common/footer.html"></th:block>



<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="js/google-map.js"></script>
<script src="js/main.js"></script>

</body>
</html>