<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<!-- header -->
	<th:block th:replace="common/header.html"></th:block>
	
		<!-- 상세 화면의 타이틀 -->
		<th:block th:replace="common/detailTitle.html"></th:block>
		
		<section class="ftco-section">
		    <div class="container">
		        <div class="row justify-content-center pb-5">
		            <div class="col-lg-12 heading-section ftco-animate" style="float : left; text-align: left;">
		                <h2 class="mb-6">다양한 프로젝트 경험을 통한 문제해결 능력을 보유한 <span>우수한 인력의 기술력과 전문성을 바탕</span>으로 <br> 최적의 서비스를 제공하고 있습니다.</h2>
		                <br><h4>이미지 인식 분야의 성장을 지원한 경험과 노하우를 보유한 (주)로시스정보기술은  <br> 각 분야의 고객에게 최고의 서비스를 창출하여 고객 사업의 성공에 공헌합니다.</h4>
		                <br><br>
		               <p style="color:black">
					    <span>설 립 일 :</span> 2005년 2월<br>
					    <span>대표이사 :</span> 최인성<br>
					    <span>사업영역:</span> 솔루션 개발 및 공급 (전자문서관리시스템,전자증빙시스템 등)
					</p>
		            </div>
		        </div>
		      <img src="images/companyImages/organizationChart.jpg" class="img-fluid" alt="" >
		    </div>
		</section>
		
		<!-- footer, loader -->
		<th:block th:replace="common/footer.html"></th:block>
		
		<!-- js파일 include -->
		<th:block th:replace="common/includeJs.html"></th:block>
	
</html>