<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<!-- header, script, css) -->
	<th:block th:replace="common/header.html"></th:block>
	
		<!-- 상세 화면의 타이틀 -->
		<th:block th:replace="common/detailTitle.html"></th:block>
		
		<section class="ftco-section">
		    <div class="container">
		        <div class="row justify-content-center pb-5">
		            <div class="col-lg-12 heading-section ftco-animate" style="float : left; text-align: left;">
		                <h2 class="mb-6">안녕하십니까? <br> <span>로시스정보기술 대표이사 최인성</span>입니다.<br>저희 회사 홈페이지를 방문해주셔서 깊은 감사를 드립니다. </h2>
		                <br><h4>지난 2005년 창립 이래 금융/공공/건설/서비스 등 <br>다양한 분야에서 쌓은 Knowledge와 Know-how를<br>바탕으로 고객 여러분께 필요한 역량을 제공해 왔습니다.</h4>
		                <br><br>
		                <p>IT기술은 하루가 다르게 새로워지고 있고, 고객의 니즈 역시 다양화되고 세분화되고 있습니다. <br>변화는 빨라지고 경쟁은 더욱 치열해 지고 있습니다.
		                이런 환경에서 고객이 실질적으로 원하는 <br> 가치를 제공하기 위해 ,저희 로시스정보기술은 국내시장에서의 다양한 성공경험, 고객과의 파트너십 역량,<br>
		                그리고 끊임없는 기술과 서비스 개발을 바탕으로 진정한 IT리더로 도약하고자 합니다. <br> 검증된 IT기술력에 더해 창조적이고 혁신적인 기업문화, 고객사업에 대한 이해를 기반으로
		                <br>성공을 위한 IT서비스의 새로운 길을 열어드리겠습니다. 건강한 기업문화 속에 스스로 가치를 창조하는 <br> 창의정신과 실천적 도전 정신을 바탕으로 고객에게 신뢰받는 <br>
		                든든한 기업이 되겠습니다. 로시스 정보기술의 도전과 혁신을 지켜봐 주십시오. 감사합니다.</p>
		            </div>
		        </div>
		       
		    </div>
		</section>
		
		<!-- footer, loader -->
		<th:block th:replace="common/footer.html"></th:block>
		
		<!-- js파일 include -->
		<th:block th:replace="common/includeJs.html"></th:block>
	
</html>