<section class="ftco-section ftco-section testimony-section" style="height: 910px;">
	<div class="container">
		<div class="heading-section mb-5 mt-5 mt-lg-0">
			<h2 class="mb-3">Customer</h2>
		</div>
		<div class="row justify-content-end">
			<div class="col-md-12">
				<div id="customerCarousel" class="carousel slide"
					data-ride="carousel" >
					<div class="carousel-inner">
						
						<!-- 첫 번째 슬라이드(보험) -->
						<div class="carousel-item active">
							<h3 class="heading mb-4" 
								style="font-family: 'Spoqa Han Sans Neo', serif; font-weight: 10px; text-align: center;">
								보험
							</h3>
							<div class="row no-gutters d-flex align-items-stretch" style="text-align: center;">
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/insurance/insurance1.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/insurance/insurance2.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/insurance/insurance3.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/insurance/insurance4.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/insurance/insurance5.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/insurance/insurance6.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/insurance/insurance7.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/insurance/insurance8.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/insurance/insurance9.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/insurance/insurance10.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/insurance/insurance11.png">
										</div>
									</div>
								</div>
							</div>
						</div>
						

						<!-- 두 번째 슬라이드(금융/은행) -->
						<div class="carousel-item">
							<h3 class="heading mb-4" 
								style="font-family: 'Spoqa Han Sans Neo', serif; font-weight: 10px; text-align: center;">
								금융/은행
							</h3>
							<div class="row no-gutters d-flex align-items-stretch" style="text-align: center;">
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/bank/bank1.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/bank/bank2.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/bank/bank3.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/bank/bank4.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/bank/bank5.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/bank/bank6.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/bank/bank7.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/bank/bank8.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/bank/bank9.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/bank/bank10.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/bank/bank11.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/bank/bank12.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/bank/bank13.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/bank/bank14.png">
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- 세 번째 슬라이드(저축은행) -->
						<div class="carousel-item">
							<h3 class="heading mb-4" 
								style="font-family: 'Spoqa Han Sans Neo', serif; font-weight: 10px; text-align: center;">
								저축은행
							</h3>
							<div class="row no-gutters d-flex align-items-stretch" style="text-align: center;">
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/save/save1.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/save/save2.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/save/save3.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/save/save4.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/save/save5.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/save/save6.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/save/save7.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/save/save8.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/save/save9.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/save/save10.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/save/save11.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/save/save12.png">
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- 네 번째 슬라이드(캐피탈) -->
						<div class="carousel-item">
							<h3 class="heading mb-4" 
								style="font-family: 'Spoqa Han Sans Neo', serif; font-weight: 10px; text-align: center;">
								캐피탈
							</h3>
							<div class="row no-gutters d-flex align-items-stretch" style="text-align: center;">
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/capital/capital1.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/capital/capital2.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/capital/capital3.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/capital/capital4.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/capital/capital5.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/capital/capital6.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/capital/capital7.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/capital/capital8.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/capital/capital9.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/capital/capital10.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/capital/capital11.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/capital/capital12.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/capital/capital13.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/capital/capital14.png">
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- 다섯 번째 슬라이드(공기업) -->
						<div class="carousel-item">
							<h3 class="heading mb-4" 
								style="font-family: 'Spoqa Han Sans Neo', serif; font-weight: 10px; text-align: center;">
								공기업
							</h3>
							<div class="row no-gutters d-flex align-items-stretch" style="text-align: center;">
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/public/public1.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/public/public2.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/public/public3.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/public/public4.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/public/public5.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/public/public6.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/public/public7.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/public/public8.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/public/public9.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/public/public10.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/public/public11.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/public/public12.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/public/public13.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/public/public14.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/public/public15.png">
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- 여섯 번째 슬라이드(기타) -->
						<div class="carousel-item">
							<h3 class="heading mb-4" 
								style="font-family: 'Spoqa Han Sans Neo', serif; font-weight: 10px; text-align: center;">
								기타
							</h3>
							<div class="row no-gutters d-flex align-items-stretch" style="text-align: center;">
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/etc/etc1.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/etc/etc2.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/etc/etc3.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/etc/etc4.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/etc/etc5.png">
										</div>
									</div>
								</div>
								<div class="col-md-2 d-flex align-self-stretch ftco-animate">
									<div class="services-1" style="height: 190px;">
										<div class="line"></div>
										<div class="icon">
											<img src="images/etc/etc6.png">
										</div>
									</div>
								</div>
							</div>
						</div>
						
						
					</div>
				</div>
			</div>
			<!-- Carousel Controls -->
			<a class="carousel-control-prev" href="#customerCarousel" role="button" data-slide="prev" style="color:black">
				<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
					<path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
				</svg> 
<!--				<span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
<!--				<span class="sr-only">Previous</span>-->
			</a> 
			<a class="carousel-control-next" href="#customerCarousel" role="button" data-slide="next" style="color:black">
				<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
					<path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
				</svg>
<!--				<span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--				<span class="sr-only">Next</span>-->
			</a>
		</div>
	</div>
</section>