<div class="col-lg-4 sidebar">
	<div class="sidebar-box">
    	<div class="categories">
        	<h3>Solution</h3>
        	<li><a th:href="@{solutionDetail(solution=${1})}">신분증 진위확인 솔루션</a></li>
            <li><a th:href="@{solutionDetail(solution=${2})}">법원 문서 인식 솔루션</a></li>
            <li><a th:href="@{solutionDetail(solution=${3})}">출금이체증빙(CMS) 솔루션</a></li>
<!--            <li><a th:href="@{solutionDetail(solution=${4})}">범칙금인식</a></li>-->
<!--            <li><a th:href="@{solutionDetail(solution=${5})}">지로인식</a></li>-->
<!--            <li><a th:href="@{solutionDetail(solution=${6})}">차량번호인식</a></li>-->
<!--            <li><a th:href="@{solutionDetail(solution=${7})}">풀텍스트인식</a></li>-->
    	</div>
    </div>
</div>