<!-- 금융 -->
<section class="ftco-section services-section" id="bankDevSection">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-6 heading-section text-center ftco-animate">
                <h2 class="mb-4">이미지 시스템1</h2>
            </div>
        </div>
        
        <div class="row justify-content-center pb-5">
            <div class="col-lg-12 heading-section ftco-animate" style="float : left; text-align: center;">
                <h2 class="mb-4" style="font-size: 30px;">
					<br>이미지 시스템 구성도<br>
                </h2>
				<h4>
					업무 현장에서 발생되는 종이, 신분증 등 다양한 문서를 전자화하고 이를 업무에 효과적으로 활용할 수 있는 업무 시스템입니다.<br>
					다양한 문서의 스캔 • 이미지 보정 • OCR • 압축 및 암호화 • 문서의 조회 등 기존 종이기반의 업무 환경을 Paperless 환경으로 변화시켜 업무 효율성을 극대화 할 수 있습니다.
				</h4>
				<img src="images/companyImages/imageSystem.png" >
            </div>
        </div>
    </div>
</section>

<!-- 보험 -->
<section class="ftco-section services-section" id="insuranceDevSection">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-6 heading-section text-center ftco-animate">
                <h2 class="mb-4">이미지 시스템2</h2>
            </div>
        </div>
        
        <div class="row justify-content-center pb-5">
            <div class="col-lg-12 heading-section ftco-animate" style="float : left; text-align: center;">
                <h2 class="mb-4" style="font-size: 30px;">
					<br>이미지 시스템 구성도<br>
                </h2>
				<h4>
					업무 현장에서 발생되는 종이, 신분증 등 다양한 문서를 전자화하고 이를 업무에 효과적으로 활용할 수 있는 업무 시스템입니다.<br>
					다양한 문서의 스캔 • 이미지 보정 • OCR • 압축 및 암호화 • 문서의 조회 등 기존 종이기반의 업무 환경을 Paperless 환경으로 변화시켜 업무 효율성을 극대화 할 수 있습니다.
				</h4>
				<img src="images/companyImages/imageSystem.png" >
            </div>
        </div>
    </div>
</section>

<!-- 공공 -->
<section class="ftco-section services-section" id="pulicDevSection">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-6 heading-section text-center ftco-animate">
                <h2 class="mb-4">이미지 시스템3</h2>
            </div>
        </div>
        
        <div class="row justify-content-center pb-5">
            <div class="col-lg-12 heading-section ftco-animate" style="float : left; text-align: center;">
                <h2 class="mb-4" style="font-size: 30px;">
					<br>이미지 시스템 구성도<br>
                </h2>
				<h4>
					업무 현장에서 발생되는 종이, 신분증 등 다양한 문서를 전자화하고 이를 업무에 효과적으로 활용할 수 있는 업무 시스템입니다.<br>
					다양한 문서의 스캔 • 이미지 보정 • OCR • 압축 및 암호화 • 문서의 조회 등 기존 종이기반의 업무 환경을 Paperless 환경으로 변화시켜 업무 효율성을 극대화 할 수 있습니다.
				</h4>
				<img src="images/companyImages/imageSystem.png" >
            </div>
        </div>
    </div>
</section>