<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<!-- header, script, css) -->
	<th:block th:replace="common/header.html"></th:block>
		<!-- 상세 화면의 타이틀 -->
		<th:block th:replace="common/detailTitle.html"></th:block>
		
		<!-- container start -->
		<section class="ftco-section services-section ftco-animate">
		    <div class="container">
				<div class="row justify-content-center pb-5">
		            <div class="col-md-6 heading-section text-center">
		                <h2 class="mb-4">제품소개</h2><br>
		            </div>
		            
		            <!-- HTML5 뷰어 -->
		            <div class="row justify-content-center pb-5 ftco-animate">
			            <div class="col-lg-12 heading-section" style="float : left; text-align: center;">
			                <h2 class="mb-4" style="font-size: 30px;">
								HTML5 뷰어
			                </h2>
							<h4>
								Any OS / Any Browser 환경에서 PDF 및 이미지를 빠르게 조회할 수 있는 <span style="color: #323edd; font-size: 2.0rem;">HTML5 기반의 뷰어</span> 입니다.<br>
								MS Office, PDF, Image 등 다양한 문서를 조회할 수 있는 통합 뷰어입니다.
							</h4>
			            </div>
			            <img src="images/product/html5Viewer.png">
			        </div>
		        </div>
			</div>
		</section>
		
		<!-- TSA -->
		<section class="ftco-section services-section ftco-animate">
		    <div class="container">
	            <div class="row justify-content-center pb-5">
		            <div class="col-lg-12 heading-section" style="float : left; text-align: center;">
		                <h2 class="mb-4" style="font-size: 30px;">
							TSA
		                </h2>
						<h4>
							국내 유일의 TSA 웹 검증 모듈을 제공하는 <span style="color: #323edd; font-size: 2.0rem;">TSA</span> 솔루션으로
							GS인증 획득 제품입니다.
						</h4>
		            </div>
					<img src="images/product/TSA.png">
		        </div>
			</div>
		</section>
		<br><br>
		<!-- container end -->
		
		<!-- footer, loader -->
		<th:block th:replace="common/footer.html"></th:block>
		
		<!-- js파일 include -->
		<th:block th:replace="common/includeJs.html"></th:block>
</html>