<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<!-- header, script, css) -->
	<th:block th:replace="common/header.html"></th:block>
	
		<!-- 상세 화면의 타이틀 -->
	<th:block th:replace="common/detailTitle.html"></th:block>
	
	<!-- 신분증진위 확인 및 안면인식 연계 시스템 구성도 -->
	<section class="ftco-counter img">
		<div class="container">
			<div class="col-md-12 heading-section heading-section-dark ftco-animate text-center">
				<h2 class="mb-4" style="font-size: 30px;">
					신분증진위확인 및 안면인식연계 시스템 구성도
				</h2>
				<h4>
					금융사고를 사전에 방지하고 강화된 금융 보안 기준 준수<br>
					신분증 진위확인 및 안면인식 연계 시스템
				</h4><br><br>
				<img src="images/companyImages/AuthAndPremo.png">
			</div>
		</div>
	</section>
	
	<!-- footer, loader -->
	<th:block th:replace="common/footer.html"></th:block>
	
	<!-- js파일 include -->
	<th:block th:replace="common/includeJs.html"></th:block>
	
</html>