<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<!-- header, script, css) -->
	<th:block th:replace="common/header.html"></th:block>
	
		<!-- 상세 화면의 타이틀 -->
		<th:block th:replace="common/detailTitle.html"></th:block>
		
		<!-- 이미지 시스템 주요 기술 부분 -->
		<section class="ftco-counter img">
			<div class="container">
				
				<!-- 신분증 OCR -->
				<div class="row no-gutters d-flex">
					<div class="col-md-6 p-3 pl-md-5 py-5 bg-white align-self-center">
						<div class="row justify-content-start pb-3">
							<div class="col-md-12 heading-section heading-section-dark ftco-animate text-center">
								<h2 class="mb-4">신분증 OCR</h2>
								<div class="block-23">
									<ul class="comment-list">
										<li>
											<span class="text-dark">주민등록증, 운전면허증, 외국인 신분증, 여권 인식</span>
										</li>
										<li>
											<span class="text-dark">색상, 기울림 보정, 마스킹 효과 등 이미지 처리</span> 
										</li>
										<li>
											<span class="text-dark">자동 초점, 자동 촬영, TTS 등이 포함된 촬영 모듈 탑재</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 d-flex ftco-animate" style="height: 500px;">
						<div class="img d-flex align-self-stretch" style="background-image:url(images/companyImages/idrecogOCR.png);"></div>
					</div>
				</div>
				
				<br><br><br><br>
				
				<!-- 문서 OCR 전처리 -->
				<div class="row no-gutters d-flex">
					<div class="col-md-6 p-3 pl-md-5 py-5 bg-white align-self-center">
						<div class="row justify-content-start pb-3">
							<div class="col-md-12 heading-section heading-section-dark ftco-animate text-center">
								<h2 class="mb-4">문서 OCR 전처리</h2>
								<div class="block-23">
									<ul class="comment-list">
										<li>
											<span class="text-dark text-right">노이즈 처리 기술 및 해상도 조절</span>
										</li>
										<li>
											<span class="text-dark text-right">색상, 기울림 보정 등 이미지 전처리 탑재</span>
										</li>
										<li>
											<span class="text-dark text-right">문서영역 Crop 제공</span> 
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 d-flex ftco-animate" style="height: 500px;">
						<div class="img d-flex align-self-stretch" style="background-image:url(images/companyImages/paperOCRBefore.png);"></div>
					</div>
				</div>
				
				<br><br><br><br>
				
				<!-- 자동차 번호판 OCR -->
				<div class="row no-gutters d-flex">
					<div class="col-md-6 p-3 pl-md-5 py-5 bg-white align-self-center">
						<div class="row justify-content-start pb-3">
							<div class="col-md-12 heading-section heading-section-dark ftco-animate text-center">
								<h2 class="mb-4">자동차 번호판 OCR</h2>
								<div class="block-23">
									<ul class="comment-list">
										<li>
											<span class="text-dark text-right">구형 2종 원동기부터 최신 자동차 번호판 인식</span>
										</li>
										<li>
											<span class="text-dark text-right">자동차 번호판 인식, Crop 기능이 포함된 촬영 모듈 탑재</span> 
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 d-flex ftco-animate" style="height: 500px;">
						<div class="img d-flex align-self-stretch" style="background-image:url(images/companyImages/carlsnumOCR.png);"></div>
					</div>
				</div>
				
				<br><br><br><br>
				
				<!-- 문서 OCR -->
				<div class="row no-gutters d-flex">
					<div class="col-md-6 p-3 pl-md-5 py-5 bg-white align-self-center">
						<div class="row justify-content-start pb-3">
							<div class="col-md-12 heading-section heading-section-dark ftco-animate text-center">
								<h2 class="mb-4">문서 OCR</h2>
								<div class="block-23">
									<ul class="comment-list">
										<li>
											<span class="text-dark text-right">문서 OCR을 활용하여 Text Data 추출</span>
										</li>
										<li>
											<span class="text-dark text-right">추출 Data 기반 이미지 자동 분류</span>
										</li>
										<li>
											<span class="text-dark text-right">민감 개인정보에 대한 마스킹 지원</span> 
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 d-flex ftco-animate" style="height: 500px;">
						<div class="img d-flex align-self-stretch" style="background-image:url(images/companyImages/paperOCR.png);"></div>
					</div>
				</div>
				
				<br><br><br><br>
				
			</div>
		</section>
		
		<!-- 신분증진위 확인 및 안면인식 연계 시스템 구성도 -->
		<section class="ftco-counter img">
			<div class="container">
				<div class="col-md-12 heading-section heading-section-dark ftco-animate text-center">
					<h2 class="mb-4" style="font-size: 30px;">
						OCR 인식 <span>&</span> 신분증 진위확인
					</h2>
					<h4>
						신분증 사진 특징점 추출-진위확인 프로세스
					</h4><br><br>
					<img src="images/ocrProccess.png">
				</div>
			</div>
		</section>
		<br><br>
		
		<!-- footer, loader -->
		<th:block th:replace="common/footer.html"></th:block>
		
		<!-- js파일 include -->
		<th:block th:replace="common/includeJs.html"></th:block>
	
</html>